Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề “Missing 
header in the csv file”

In [5]:
import pandas as pd
# Id,Name,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218
colum_name = ['Id', 'Name','Age', 'Weight','m0006','m0612','m1218','f0006','f0612','f1218'] 
df = pd.read_csv('patient_heart_rate.csv', names = colum_name)
df.head(16)

,Id,Name,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218
0,Id,Name,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218
1,1,Mickéy Mousé,56,70kgs,72,69,71,-,-,-
2,2,Donald Duck,34,154.89lbs,-,-,-,85,84,76
3,3,Mini Mouse,16,NaN,-,-,-,65,69,72
4,4,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-
5,5,Pink Panther,54,198.658lbs,-,-,-,69,NaN,75
6,6,Huey McDuck,52,189lbs,-,-,-,68,75,72
7,7,Dewey McDuck,19,56kgs,-,-,-,71,78,75
8,8,Scööpy Doo,32,78kgs,78,76,75,-,-,-
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9,Huey McDuck,52,189lbs,-,-,-,68,75,72
12,10,Louie McDuck,12,45kgs,-,-,-,92,95,87
13,11,Henry Nam,NaN,60kgs,78,75,72,-,-,-
14,12,Michel Long,34,NaN,65,67,55,-,-,-
15,13,Tana Ricky,NaN,NaN,-,-,-,68,72,70

Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao gồm 
“Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [7]:
df[['Firstname','Lastname']] = df['Name'].str.split(' ', expand = True)
df = df.drop('Name', axis = 1)
df.head(16)

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Name,None
1,1,56,70kgs,72,69,71,-,-,-,Mickéy,Mousé
2,2,34,154.89lbs,-,-,-,85,84,76,Donald,Duck
3,3,16,NaN,-,-,-,65,69,72,Mini,Mouse
4,4,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
5,5,54,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
6,6,52,189lbs,-,-,-,68,75,72,Huey,McDuck
7,7,19,56kgs,-,-,-,71,78,75,Dewey,McDuck
8,8,32,78kgs,78,76,75,-,-,-,Scööpy,Doo
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9,52,189lbs,-,-,-,68,75,72,Huey,McDuck
12,10,12,45kgs,-,-,-,92,95,87,Louie,McDuck
13,11,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
14,12,34,NaN,65,67,55,-,-,-,Michel,Long
15,13,NaN,NaN,-,-,-,68,72,70,Tana,Ricky

Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ 
chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [19]:
weight = df['Weight']
for i in range(0,len(weight)):
    x =  str(weight[i])
    if 'lbs' in x[-3:]:
        x = x[:-3:]
        float_x = float(x)
        y = int(float_x/2.2)
        # y = str(y) 
        weight[i] = y
    if 'kgs' in x[-3:]:
        x = x[:-3:]
        float_x = float(x)
        weight[i] = x

df.rename(columns = {'Weight':'Weight_kgs'}, inplace = True)
df.head(5)

KeyError: 'Weight'

Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là 
xóa bỏ

In [15]:
df.dropna(how='all', inplace=True)

Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, 
weight_kgs,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải 
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [20]:
df = df.drop_duplicates(subset = ['Firstname', 'Lastname', 'Age', 'Weight_kgs'])

Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII. Giải pháp: 
Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay 
bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [25]:
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(df)

    Id  Age Weight_kgs  m0006  m0612  m1218  f0006  f0612  f1218 Firstname  \
0   Id  Age     Weight  m0006  m0612  m1218  f0006  f0612  f1218      Name
1    1   56         70     72     69     71      -      -      -     Micky
2    2   34         70      -      -      -     85     84     76    Donald
3    3   16        NaN      -      -      -     65     69     72      Mini
4    4  NaN         78     78     79     72      -      -      -   Scrooge
5    5   54         90      -      -      -     69    NaN     75      Pink
6    6   52         85      -      -      -     68     75     72      Huey
7    7   19         56      -      -      -     71     78     75     Dewey
8    8   32         78     78     76     75      -      -      -      Scpy
12  10   12         45      -      -      -     92     95     87     Louie
13  11  NaN         60     78     75     72      -      -      -     Henry
14  12   34        NaN     65     67     55      -      -      -    Michel
15  13  NaN        NaN      -      -      -     68     72     70      Tana
16  14  NaN        NaN    NaN    NaN    NaN    NaN    NaN    NaN  UniLever
17  15   52         81      -      -      -     68     75     72       NaN

   Lastname
0      None
1      Mous
2      Duck
3     Mouse
4    McDuck
5   Panther
6    McDuck
7    McDuck
8       Doo
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

C:\Users\Admin\AppData\Local\Temp\ipykernel_13420\3758458077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13420\3758458077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

“Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart Rate”. Thiếu 
dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ liệu do nhiều 
nguyên nhân chủ quan lẫn khách quan. Có một vài giải pháp để xử lý vấn đề này, chủ yếu 
dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa đề xuất từ 
chuyên gia như sau: 
a. Deletion: Remove records with missing values 
b. Dummy substitution: Replace missing values with a dummy but valid 
value: e.g.: 0 for numerical values. 
c. Mean substitution: Replace the missing values with the mean. 
d. Frequent substitution: Replace the missing values with the most 
frequent item. 
e. Improve the data collector: Your business folk will talk to the clients 
and inform them about why it is worth fixing the problem with the data 
collector.
Thay giá trị thiếu của tuổi bằng giá trị yếu vị.

In [26]:
df['Age'].fillna(df['Age'].mode()[0], inplace = True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13420\1370003872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'].fillna(df['Age'].mode()[0], inplace = True)

Thay giá trị thiếu của cân nặng bằng giá trị trung vị

In [27]:
df['Weight_kgs'].fillna(df['Weight_kgs'].mode()[0], inplace = True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13420\3297879392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight_kgs'].fillna(df['Weight_kgs'].mode()[0], inplace = True)

 “Một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta thấy 
header “m0006” chứa các nội dung bao gồm: m → male, 0006 ~ 00-06 (lần đo chỉ số 
huyết áp từ 00h- đến 06h). Còn giá trị thì là kết quả huyết áp.

In [31]:
df = pd.melt(df, id_vars = ['Id', 'Age', 'Weight_kgs', 'Firstname', 'Lastname'], value_name='PulseRate', var_name='gender_time').sort_values(['Id','Age','Weight_kgs','Firstname','Lastname'])

ValueError: value_name (PulseRate) cannot match an element in the DataFrame columns.

Tạo data frame tạm là kết quả của việc tách cột gender_time

In [32]:
df_temp = df['gender_time'].str.extract('(\D)(\d+)(\d{2})',expand=True)
df_temp.columns

Index([0, 1, 2], dtype='int64')

Đặt tên cột cho data frame tạm

In [33]:
df_temp.columns = ['Gender', 'Lower_hour', 'Upper_hour']

Nối data frame tạm vào data frame ban đầu

In [34]:
df = pd.concat([df, df_temp], axis = 1)

Bỏ cột gender_time

In [36]:
df = df.drop(['gender_time'], axis = 1)

Loại bỏ hết các dòng dữ liệu thừa là những dòng có phần PulseRate có dấu -

In [37]:
import numpy as np
df = df.replace('-', np.nan).dropna(subset=['PulseRate'])
df.head(5)

,Id,Age,Weight_kgs,Firstname,Lastname,PulseRate,Gender,Lower_hour,Upper_hour
1,1,56,70,Micky,Mous,72,m,00,06
16,1,56,70,Micky,Mous,69,m,06,12
31,1,56,70,Micky,Mous,71,m,12,18
54,10,12,45,Louie,McDuck,92,f,00,06
69,10,12,45,Louie,McDuck,95,f,06,12

 Nhận thấy có những bệnh nhân chưa ghi nhận họ tên (ví lý do nào đó)

In [38]:
df['Firstname'].isnull().sum()
df['Lastname'].isnull().sum()
df['Firstname'].fillna('Unknown', inplace = True)
df['Lastname'].fillna('Unknown', inplace = True)

Sau khi xử lý thì index của dòng dữ liệu đã thay đổi lung tung, ta cần reset index lại cho 
theo khuôn mẫu

In [39]:
df = df.reset_index()

 Sau đó, lưu trữ dữ liệu đã xử lý thành công với tên file patient_heart_rate_clean.csv

In [40]:
df.to_csv('patient_heart_rate_clean.csv')